---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YouTube>&maxResults=1&part=snippet&q=flkdnqalkjerj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Sun, 03 Mar 2024 21:08:24 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<Unsplash>&per_page=10&query=flkdnqalkjerj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 03 Mar 2024 21:19:36 GMT
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/flkdnqalkjerj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 04 Mar 2024 22:01:11 GMT
recorded_with: VCR 6.2.0
